body {
  margin: 0;
}
.headl1s {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 80, 134, 0.5);
}
.headl1 {
  text-transform: uppercase !important;
  color: whitesmoke;
  text-decoration: underline;
  margin: 20px 50px;
}
