body {
  margin: 0;
}
.headl1s {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d4e6f1;
}
.headl1 {
  text-transform: uppercase !important;
  color: #005086;
  text-decoration: underline;
  margin: 0 50px;
}
